.header {
    // padding: 50px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10000;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    .innerHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.5rem;

        .left,
        .center,
        .right {
            flex: 1
        }

        .left {
            display: flex;
            justify-content: start;
            gap: 1.5rem;
            align-items: center;

            .item {
                cursor: pointer;
                font-size: 16px;
                gap: 0.7rem;
                display: flex;
                align-items: center;
                
                p {
                    padding-bottom: 2px;
                }
            }
        }

        .center {
            text-align: center;

            .logo {
                font-weight: 500;
                font-size: 2.5em;
                margin: 0;
                padding: 0;
            }
        }

        .right {
            display: flex;
            justify-content: end;
            gap: 1.5rem;

            .item {
                cursor: pointer;
                font-size: 16px;
            }
        }
    }
}